/* line 17, ../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Coalition";
  src: url('/css/fonts/Coalition.ttf') format('truetype');
}

/* line 27, ../scss/style.scss */
* {
  outline: none;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 33, ../scss/style.scss */
body {
  width: 100%;
  height: 100%;
}

/* line 38, ../scss/style.scss */
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

/* line 44, ../scss/style.scss */
hr.custom {
  width: 90%;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: rgba(255, 255, 255, 0.29) 0 2px 0;
}

/* line 51, ../scss/style.scss */
i.custom {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  color: white;
  cursor: pointer;
  padding: 4px 10px;
  min-height: 30px;
}
/* line 63, ../scss/style.scss */
i.custom:hover {
  background-color: #287CE9;
}

/* line 68, ../scss/style.scss */
.main {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 74, ../scss/style.scss */
.main .registerBox, .main .loginBox {
  display: none;
}

/* line 79, ../scss/style.scss */
.hide {
  display: none;
}

/* line 83, ../scss/style.scss */
input[type="submit"] {
  visibility: hidden;
}

/* line 87, ../scss/style.scss */
input[type="text"], input[type="password"] {
  font-family: "Coalition";
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 8px 15px;
  color: white;
  background-color: rgba(22, 22, 22, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 13, ../scss/style.scss */
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 16, ../scss/style.scss */
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 19, ../scss/style.scss */
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 22, ../scss/style.scss */
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 98, ../scss/style.scss */
input[type="text"]:focus, input[type="password"]:focus {
  border-color: rgba(44, 114, 206, 0.5);
}

/* line 103, ../scss/style.scss */
a.custom {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: rgba(22, 22, 22, 0.2);
  border: 3px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
}
/* line 113, ../scss/style.scss */
a.custom:hover {
  background-color: rgba(40, 124, 233, 0.26);
  border-color: rgba(0, 0, 0, 0.25);
}

/* line 119, ../scss/style.scss */
.error-border {
  border-color: rgba(201, 13, 13, 0.5) !important;
}

/* line 123, ../scss/style.scss */
.intro, .game-container, .registerBox, .loginBox {
  margin: 0 auto;
  text-align: center;
}

/* line 128, ../scss/style.scss */
.intro {
  padding: 50px;
  font-family: "Coalition";
}
/* line 131, ../scss/style.scss */
.intro .launch {
  height: 200px;
  padding: 20px 50px 10px 50px;
  font-size: 40px;
}
/* line 136, ../scss/style.scss */
.intro > p {
  margin-top: 50px;
}
/* line 138, ../scss/style.scss */
.intro > p > a {
  padding: 10px 15px 7px 20px;
}

/* line 144, ../scss/style.scss */
.north {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 148, ../scss/style.scss */
.south {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 152, ../scss/style.scss */
.west {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 156, ../scss/style.scss */
.east {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 160, ../scss/style.scss */
.ship {
  height: 10px;
  width: 10px;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}
/* line 169, ../scss/style.scss */
.ship img {
  max-width: 200px;
}

/* line 174, ../scss/style.scss */
.game-container {
  display: none;
  width: 1500px;
  height: 1100px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
/* line 183, ../scss/style.scss */
.game-container > .grid {
  height: 1000px;
}
/* line 186, ../scss/style.scss */
.game-container > .controllers {
  text-align: left;
  font-family: "Coalition";
  min-height: 100px;
  padding: 30px 20px 0 20px;
  width: 100%;
  bottom: 0;
  position: absolute;
  color: white;
}
/* line 195, ../scss/style.scss */
.game-container > .controllers i span {
  font-family: "Coalition";
}
/* line 198, ../scss/style.scss */
.game-container > .controllers > p {
  margin-top: 20px;
}
