/* line 17, ../../../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.gems/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.gems/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.gems/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.gems/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.gems/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.gems/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.gems/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.gems/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.gems/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Coalition";
  src: url('/css/fonts/Coalition.ttf') format('truetype');
}

/* line 26, ../scss/style.scss */
* {
  outline: none;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 32, ../scss/style.scss */
body {
  width: 100%;
  height: 100%;
}

/* line 37, ../scss/style.scss */
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

/* line 43, ../scss/style.scss */
hr.custom {
  width: 90%;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 0;
}

/* line 50, ../scss/style.scss */
i.custom {
  background-color: #1e6bce;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  color: white;
  cursor: pointer;
  padding: 4px 10px;
  min-height: 30px;
}
/* line 62, ../scss/style.scss */
i.custom:hover {
  background-color: #287CE9;
}

/* line 67, ../scss/style.scss */
.main {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 73, ../scss/style.scss */
.main .registerBox, .main .loginBox {
  display: none;
}

/* line 78, ../scss/style.scss */
.hide {
  display: none;
}

/* line 82, ../scss/style.scss */
input[type="submit"] {
  visibility: hidden;
}

/* line 86, ../scss/style.scss */
input[type="text"], input[type="password"] {
  font-family: "Coalition";
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(28, 112, 223, 0.56);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px 15px;
  color: white;
}
/* line 12, ../scss/style.scss */
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 15, ../scss/style.scss */
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 18, ../scss/style.scss */
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 21, ../scss/style.scss */
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* line 97, ../scss/style.scss */
input[type="text"]:focus, input[type="password"]:focus {
  border-color: rgba(99, 157, 233, 0.93);
}

/* line 102, ../scss/style.scss */
a.custom {
  cursor: pointer;
  background-color: #1e6bce;
  text-decoration: none;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
}
/* line 111, ../scss/style.scss */
a.custom:hover {
  background-color: #287CE9;
}

/* line 116, ../scss/style.scss */
.intro, .game-container, .registerBox, .loginBox {
  margin: 0 auto;
  text-align: center;
}

/* line 121, ../scss/style.scss */
.intro {
  padding: 50px;
  font-family: "Coalition";
}
/* line 124, ../scss/style.scss */
.intro .launch {
  height: 200px;
  padding: 20px 50px 10px 50px;
  font-size: 40px;
}
/* line 129, ../scss/style.scss */
.intro > p {
  margin-top: 30px;
}
/* line 131, ../scss/style.scss */
.intro > p > a {
  padding: 10px 15px 7px 20px;
}

/* line 137, ../scss/style.scss */
.north {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 141, ../scss/style.scss */
.south {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 145, ../scss/style.scss */
.west {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 149, ../scss/style.scss */
.east {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 153, ../scss/style.scss */
.ship {
  height: 10px;
  width: 10px;
}
/* line 156, ../scss/style.scss */
.ship img {
  max-width: 200px;
}

/* line 161, ../scss/style.scss */
.game-container {
  display: none;
  width: 1500px;
  height: 1100px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
/* line 169, ../scss/style.scss */
.game-container > .grid {
  height: 1000px;
}
/* line 172, ../scss/style.scss */
.game-container > .controllers {
  text-align: left;
  min-height: 100px;
  padding: 30px 20px;
  width: 100%;
  bottom: 0;
  position: absolute;
}
