@import "compass/css3";
@import "compass/reset";
@import "compass/css3/appearance";
@import "compass/css3/transform";
@import "compass/css3/user-interface";
@import "compass/css3/box-shadow";
@import "compass/css3/font-face";

@include font-face("Coalition", font-files("Coalition.ttf"));
//http://www.dafont.com/fr/prometheus.font

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

* {
	outline: none;
	box-sizing: border-box;
	@include user-select(none);
}

body {
	width: 100%;
	height: 100%;
}

html {
	height: 100%;
	background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
	overflow: hidden;
}

hr.custom {
	width: 90%;
	border: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	box-shadow: rgba(255, 255, 255, 0.29) 0 2px 0;
}

i.custom {
//	background-color: rgb(30, 107, 206);
	@include box-shadow(rgba(black, .3) 0 2px 5px);
	@include border-radius(4px, 4px);
	@include transition-property(background-color);
	@include transition-duration(100ms);
	@include appearance(none);
	border: 0;
	color: white;
	cursor: pointer;
	padding: 4px 10px;
	min-height: 30px;
	&:hover {
		background-color: #287CE9;
	}
}

.main {
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	.registerBox, .loginBox {
		display: none;
	}
}

.hide {
	display: none;
}

input[type="submit"] {
	visibility: hidden;
}

input[type="text"], input[type="password"] {
	font-family: "Coalition";
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 8px 15px;
	color: white;
	background-color: rgba(22, 22, 22, 0.2);
	border: 1px solid rgba(white, .1);
	@include placeholder {
		color: rgba(255,255,255,0.3);
	}
	&:focus {
		border-color: rgba(44, 114, 206, 0.5);
	}
}

a.custom {
	cursor:pointer;
	text-decoration: none;
	color: white;
	background-color: rgba(22, 22, 22, 0.2);
	border: 3px solid rgba(255, 255, 255, 0.1);
	@include box-shadow(rgba(black, .3) 0 2px 5px);
	@include border-radius(4px, 4px);
	@include transition-property(background-color);
	@include transition-duration(100ms);
	&:hover {
		background-color: rgba(40, 124, 233, 0.26);
		border-color: rgba(0, 0, 0, 0.25);
	}
}

.error-border {
	border-color: rgba(201, 13, 13, 0.5) !important;
}

.intro, .game-container, .registerBox, .loginBox {
	margin: 0 auto;
	text-align: center;
}

.intro {
	padding: 50px;
	font-family: "Coalition";
	.launch {
		height: 200px;
		padding: 20px 50px 10px 50px;
		font-size: 40px;
	}
	> p {
		margin-top: 50px;
		> a {
			padding: 10px 15px 7px 20px;
		}
	}
}

.north {
	@include rotate(0deg);
}

.south {
	@include rotate(180deg);
}

.west {
	@include rotate(270deg);
}

.east {
	@include rotate(90deg);
}

.ship {
	height: 10px;
	width: 10px;
	cursor: pointer;
	-webkit-transition: all 250ms ease-in;
	-moz-transition: all 250ms ease-in;
	-ms-transition: all 250ms ease-in;
	-o-transition: all 250ms ease-in;
	transition: all 250ms ease-in;
	img {
		max-width: 200px;
	}
}

.game-container {
	display:none;
	width: 1500px;
	height: 1100px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(white, .3);
	@include border-radius(4px, 4px);
	> .grid {
		height: 1000px;
	}
	> .controllers {
		text-align: left;
		font-family: "Coalition";
		min-height: 100px;
		padding: 30px 20px 0 20px;
		width: 100%;
		bottom: 0;
		position: absolute;
		color: white;
		i span {
			font-family: "Coalition";
		}
		> p {
			margin-top: 20px;
		}
	}
}
