@function multiplestars($num) {
	$val: '#{random(2000)}px #{random(2000)}px #FFFFFF';
	@for $i from 2 through $num {
		$val: '#{$val} , #{random(2000)}px #{random(2000)}px #FFFFFF';
	}
	@return unquote($val);
}

@-webkit-keyframes starAnim {
	from {
		-moz-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-o-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
	}
	to {
		-moz-transform: translateY(-2000px);
		-webkit-transform: translateY(-2000px);
		-o-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
}

$littleshadow: multiplestars(700);
$middleshadow: multiplestars(200);
$bigshadow: multiplestars(100);
$fatshadow: multiplestars(10);

.back1 {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: $littleshadow;
	animation: starAnim 50s infinite;
	-moz-animation: starAnim 50s infinite;
	-webkit-animation: starAnim 50s infinite;
	&:after {
		content: " ";
		position: absolute;
		top: 2000px;
		width: 1px;
		height: 1px;
		background: transparent;
		box-shadow: $littleshadow;
	}
}

.back2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: $middleshadow;
	animation: starAnim 100s linear infinite;
	-moz-animation: starAnim 100s linear infinite;
	-webkit-animation: starAnim 100s linear infinite;
	&:after {
		content: " ";
		position: absolute;
		top: 2000px;
		width: 2px;
		height: 2px;
		background: transparent;
		box-shadow: $middleshadow;
	}
}

.back3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: $bigshadow;
	animation: starAnim 150s linear infinite;
	-moz-animation: starAnim 150s linear infinite;
	-webkit-animation: starAnim 150s linear infinite;
	&:after {
		content: " ";
		position: absolute;
		top: 2000px;
		width: 3px;
		height: 3px;
		background: transparent;
		box-shadow: $bigshadow;
	}
}
.back4 {
	width: 5px;
	height: 5px;
	background: transparent;
	box-shadow: $fatshadow;
	animation: starAnim 250s linear infinite;
	-moz-animation: starAnim 250s linear infinite;
	-webkit-animation: starAnim 250s linear infinite;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	&:after {
		content: " ";
		position: absolute;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		top: 2000px;
		width: 5px;
		height: 5px;
		background: transparent;
		box-shadow: $fatshadow;
	}
}
